<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UberTools.Modules.QuickTags.Properties.Settings.dbConnectionString"
            connectionString="Data Source=C:\Documents and Settings\Damba\My Documents\Visual Studio 2008\Projects\NTHTools\NTHTools\bin\Debug\data\Quick Tags\db.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>